.home_container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.home_link {
	font-size: 32px;
	color: blue;
	text-decoration: none
}

.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero_text {
	display: flex;
	justify-items: center;
	font-size: 26px;
}

.post {
	padding: 10px 20px;
	display: flex;
	justify-items: flex-start;
}

.page_no {
	color: #000;
	text-decoration: none;
	margin:  10px;
	border: 1px solid #d1d1d1;
	padding: 5px 10px;
}

.load_more_btn {
	padding: 8px 18px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
	font-size: 16px;
	margin: 20px 0px;
}

.load_more_btn:hover {
	cursor: pointer;
}

.selected {
	color: #fff;
	background: #000;
}

.pagination {
	display: none;
}